
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    transition: 500ms;
}

button {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: orange;
    text-transform: uppercase;
    color: white;
    transition: 500ms;
}

button:hover {
    transform: rotate(360deg);
    transition: 500ms;
}

/* Конструкция * в начале CSS правил обращается ко всем элементам на странице. */
/* В данном случае, она устанавливает базовые стили для всех элементов:*/

/* margin: 0; - убирает внешние отступы у всех элементов.*/
/* padding: 0; - убирает внутренние отступы у всех элементов.*/
/* box-sizing: border-box; - устанавливает такой способ расчета размеров, чтобы размеры элемента оставались неизменными при добавлении границ и/или внутренних отступов.*/
/* border: none; - убирает границы у всех элементов.*/
/* outline: none; - убирает контурные линии при фокусе для всех элементов.*/
/* background: none; - убирает задний фон у всех элементов.*/
/* text-decoration: none; - убирает декоративное оформление текста у всех элементов.*/
/* list-style: none; - убирает стилизацию маркированных списков у всех элементов.*/
/* font-family: sans-serif; - задает шрифт без засечек для текста на всей странице.*/
/* Далее, стили для элемента body:*/

/* width: 100vw; - задает ширину элемента в 100% ширины видимой области окна браузера.*/
/* height: 100vh; - задает высоту элемента в 100% высоты видимой области окна браузера.*/
/* display: flex; - устанавливает элементу тип "flex", что позволяет управлять расположением дочерних элементов.*/
/* justify-content: center; - выравнивает дочерние элементы по центру по горизонтали.*/
/* align-items: center; - выравнивает дочерние элементы по центру по вертикали.*/
/* gap: 100px; - задает промежуток между дочерними элементами внутри контейнера.*/
/* transition: 500ms; - добавляет плавный переход между состояниями при изменении свойств элемента в течение 500 миллисекунд.*/
/* Стили для кнопки button:*/

/* cursor: pointer; - устанавливает курсор в виде указателя при наведении на кнопку.*/
/* width: 100px; - задает ширину кнопки.*/
/* height: 100px; - задает высоту кнопки.*/
/* border-radius: 50%; - делает кнопку круглой, задавая радиус скругления углов в 50% от ширины/высоты кнопки.*/
/* background-color: orange; - задает оранжевый цвет фона кнопки.*/
/* text-transform: uppercase; - преобразует текст кнопки в верхний регистр.*/
/* color: white; - устанавливает белый цвет текста кнопки.*/
/* transition: 500ms; - добавляет плавный переход между состояниями при изменении свойств кнопки в течение 500 миллисекунд.*/
/* Стили для состояния наведения (hover) на кнопку:*/

/* transform: rotate(360deg); - поворачивает кнопку на 360 градусов при наведении курсора.*/
/* transition: 500ms; - добавляет плавный переход между состояниями при изменении свойств кнопки в течение 500 миллисекунд.*/